In [61]:
import pandas as pd

In [62]:
df= pd.read_csv(r"C:\Users\pasqu\Desktop\Data Analyst\Progetto scuole\CODE\csv\Alunni 2024.csv")
df

,ANNOSCOLASTICO,CODICESCUOLA,ORDINESCUOLA,ANNOCORSO,FASCIAETA,ALUNNI
0,202324,MOEE820021,SCUOLA PRIMARIA,3,8 anni,16
1,202324,BSTD016019,SCUOLA SECONDARIA II GRADO,2,15 anni,53
2,202324,AQPS03000Q,SCUOLA SECONDARIA II GRADO,2,16 anni,13
3,202324,BAEE806051,SCUOLA PRIMARIA,2,7 anni,14
4,202324,SAMM852015,SCUOLA SECONDARIA I GRADO,2,> di 13 anni,2
...,...,...,...,...,...,...
305134,202324,FOEE01812V,SCUOLA PRIMARIA,3,8 anni,40
305135,202324,FRMM80402E,SCUOLA SECONDARIA I GRADO,3,> di 13 anni,1
305136,202324,CTTF03000R,SCUOLA SECONDARIA II GRADO,3,> di 18 anni,6
305137,202324,METD009011,SCUOLA SECONDARIA II GRADO,3,18 anni,2
305138,202324,RMEE8BH03X,SCUOLA PRIMARIA,5,> di 10 anni,1

In [63]:
df.head(10)

,ANNOSCOLASTICO,CODICESCUOLA,ORDINESCUOLA,ANNOCORSO,FASCIAETA,ALUNNI
0,202324,MOEE820021,SCUOLA PRIMARIA,3,8 anni,16
1,202324,BSTD016019,SCUOLA SECONDARIA II GRADO,2,15 anni,53
2,202324,AQPS03000Q,SCUOLA SECONDARIA II GRADO,2,16 anni,13
3,202324,BAEE806051,SCUOLA PRIMARIA,2,7 anni,14
4,202324,SAMM852015,SCUOLA SECONDARIA I GRADO,2,> di 13 anni,2
5,202324,RGPS00801T,SCUOLA SECONDARIA II GRADO,5,> di 18 anni,3
6,202324,AGMM833018,SCUOLA SECONDARIA I GRADO,3,12 anni,8
7,202324,RMPC320006,SCUOLA SECONDARIA II GRADO,4,18 anni,24
8,202324,VITD010003,SCUOLA SECONDARIA II GRADO,2,15 anni,104
9,202324,FGPC05701B,SCUOLA SECONDARIA II GRADO,5,18 anni,11

In [64]:
df.columns

Index(['ANNOSCOLASTICO', 'CODICESCUOLA', 'ORDINESCUOLA', 'ANNOCORSO',
       'FASCIAETA', 'ALUNNI'],
      dtype='object')

In [65]:
df.dtypes

ANNOSCOLASTICO     int64
CODICESCUOLA      object
ORDINESCUOLA      object
ANNOCORSO          int64
FASCIAETA         object
ALUNNI             int64
dtype: object

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305139 entries, 0 to 305138
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ANNOSCOLASTICO  305139 non-null  int64
 1   CODICESCUOLA    305139 non-null  object
 2   ORDINESCUOLA    305139 non-null  object
 3   ANNOCORSO       305139 non-null  int64
 4   FASCIAETA       305139 non-null  object
 5   ALUNNI          305139 non-null  int64
dtypes: int64(3), object(3)
memory usage: 14.0+ MB

In [67]:
df["CODICESCUOLA"].unique()

array(['MOEE820021', 'BSTD016019', 'AQPS03000Q', ..., 'CZRI02101V',
       'SSTA01650V', 'SIRC00402L'], shape=(28223,), dtype=object)

In [68]:
df["CODICESCUOLA"].nunique()

28223

In [69]:
df.describe()

       ANNOSCOLASTICO      ANNOCORSO         ALUNNI
count        305139.0  305139.000000  305139.000000
mean         202324.0       2.780045      20.522264
std               0.0       1.361673      34.243146
min          202324.0       1.000000       1.000000
25%          202324.0       2.000000       2.000000
50%          202324.0       3.000000       7.000000
75%          202324.0       4.000000      23.000000
max          202324.0       6.000000     499.000000

In [70]:
df["CODICESCUOLA"].value_counts()

CODICESCUOLA
CATA01401E    27
RMTA06000E    26
PGRI24000T    25
TPTD00802B    25
BRPM010003    25
              ..
NUTD09051C     1
TARI037507     1
SSTA01650V     1
AVTL02801V     1
ALTA013523     1
Name: count, Length: 28223, dtype: int64

In [71]:
df["ALUNNI"].describe()

count    305139.000000
mean         20.522264
std          34.243146
min           1.000000
25%           2.000000
50%           7.000000
75%          23.000000
max         499.000000
Name: ALUNNI, dtype: float64

In [72]:
df["ALUNNI"].sum()

np.int64(6262143)

In [73]:
# Esempio: anno corso 1 dovrebbe avere età coerente
df[df['ANNOCORSO'] == 1]['FASCIAETA'].value_counts()

FASCIAETA
6 anni          13905
< di 6 anni      8029
11 anni          7167
12 anni          5475
< di 11 anni     5460
14 anni          5039
7 anni           4961
15 anni          4706
< di 14 anni     4265
16 anni          3542
13 anni          2044
17 anni          1865
> di 13 anni      755
18 anni           657
> di 18 anni      551
8 anni            405
9 anni            102
> di 10 anni       62
10 anni            45
Name: count, dtype: int64

In [74]:
codici_scuola_alunni = set(df['CODICESCUOLA'].unique())
codici_scuola_anagrafica = set(df['CODICESCUOLA'].unique())

In [75]:
# Match perfetto?
print(f"Scuole in Alunni: {len(codici_scuola_alunni)}")
print(f"Scuole in Anagrafica: {len(codici_scuola_anagrafica)}")
print(f"Scuole in comune: {len(codici_scuola_alunni & codici_scuola_anagrafica)}")
print(f"Scuole solo in Alunni: {len(codici_scuola_alunni - codici_scuola_anagrafica)}")

Scuole in Alunni: 28223
Scuole in Anagrafica: 28223
Scuole in comune: 28223
Scuole solo in Alunni: 0

In [76]:
# Distribuzione per ordine di scuola
df.groupby('ORDINESCUOLA')['ALUNNI'].sum().sort_values(ascending=False)

ORDINESCUOLA
SCUOLA SECONDARIA II GRADO    2512847
SCUOLA PRIMARIA               2216033
SCUOLA SECONDARIA I GRADO     1533263
Name: ALUNNI, dtype: int64

In [77]:
# Top 10 scuole con più studenti
df.groupby('CODICESCUOLA')['ALUNNI'].sum().sort_values(ascending=False).head(10)

CODICESCUOLA
RNPC01000V    2462
CEPS02000T    2168
PSPC03000N    2090
BOTF01901C    2050
TVPM010001    2049
MOPS030002    2039
LIPS030007    2018
VIPC04000X    2016
CEPM010008    1941
VATD02000X    1921
Name: ALUNNI, dtype: int64

In [78]:
# Distribuzione fasce età
df.groupby('FASCIAETA')['ALUNNI'].sum()

FASCIAETA
10 anni         429957
11 anni         477537
12 anni         501048
13 anni         474919
14 anni         473188
15 anni         492024
16 anni         478050
17 anni         463847
18 anni         409099
6 anni          414591
7 anni          429668
8 anni          442098
9 anni          455658
< di 11 anni     35329
< di 14 anni     41953
< di 6 anni      25874
> di 10 anni     18187
> di 13 anni     44430
> di 18 anni    154686
Name: ALUNNI, dtype: int64

In [79]:
df1= pd.read_csv(r"C:\Users\pasqu\Desktop\Data Analyst\Progetto scuole\CODE\csv\Anagrafica Scuola 2025-26.csv")

In [80]:
df1.head()

,ANNOSCOLASTICO,AREAGEOGRAFICA,REGIONE,PROVINCIA,CODICEISTITUTORIFERIMENTO,DENOMINAZIONEISTITUTORIFERIMENTO,CODICESCUOLA,DENOMINAZIONESCUOLA,INDIRIZZOSCUOLA,CAPSCUOLA,CODICECOMUNESCUOLA,DESCRIZIONECOMUNE,DESCRIZIONECARATTERISTICASCUOLA,DESCRIZIONETIPOLOGIAGRADOISTRUZIONESCUOLA,INDICAZIONESEDEDIRETTIVO,INDICAZIONESEDEOMNICOMPRENSIVO,INDIRIZZOEMAILSCUOLA,INDIRIZZOPECSCUOLA,SITOWEBSCUOLA,SEDESCOLASTICA
0,202526,SUD,ABRUZZO,PESCARA,PEPC010009,"L.CLASSICO ""GABRIELE D'ANNUNZIO"" PE",PEPC010009,"L.CLASSICO ""GABRIELE D'ANNUNZIO"" PE",VIA VENEZIA 41,65121,G482,PESCARA,NORMALE,LICEO CLASSICO,SI,Non Disponibile,PEPC010009@istruzione.it,pepc010009@pec.istruzione.it,www.liceoclassicope.edu.it,NO
1,202526,NORD OVEST,LOMBARDIA,PAVIA,PVIC821006,IC BRONI - PAOLO BAFFI,PVAA821024,BRONI ANDERSEN VIA ESEGUITI,VIA ESEGUITI SNC,27043,B201,BRONI,NORMALE,SCUOLA INFANZIA,NO,Non Disponibile,PVIC821006@istruzione.it,Non Disponibile,www.istitutocomprensivobroni.gov.it,NO
2,202526,SUD,CALABRIA,CROTONE,KRIC825009,"I.O."" D.BORRELLI "" S. SEVERINA",KREE82501B,SC.ELEM.CAP.S.SEVERINA,VIA XXIV MAGGIO,88832,I308,SANTA SEVERINA,NORMALE,SCUOLA PRIMARIA,NO,Non Disponibile,KRIC825009@istruzione.it,Non Disponibile,www.iiborrelli.net,NO
3,202526,CENTRO,MARCHE,PESARO E URBINO,PSIS00700A,"OMNICOMPRENSIVO ""DELLA ROVERE""",PSTD00701L,"""DELLA ROVERE""",VIA GARIBALDI 63,61049,L498,URBANIA,CONVITTO ANNESSO,IST TEC COMMERCIALE E PER GEOMETRI,NO,Non Disponibile,PSIS00700A@istruzione.it,Non Disponibile,www.omnicomprensivourbania.edu.it/,NO
4,202526,SUD,CALABRIA,COSENZA,CSIC8AJ00L,"IC BISIGNANO ""G. PUCCIANO""",CSMM8AJ01N,"SM BISIGNANO ""G. PUCCIANO""",VIA DEL SALVATORE N.5,87043,A887,BISIGNANO,NORMALE,SCUOLA PRIMO GRADO,NO,Non Disponibile,CSIC8AJ00L@istruzione.it,Non Disponibile,www.icpucciano.it,NO

In [81]:
df1["CODICESCUOLA"].nunique()

50349

In [86]:
# Carica entrambi i file
df_alunni = pd.read_csv(r"C:\Users\pasqu\Desktop\Data Analyst\Progetto scuole\CODE\csv\Alunni 2024.csv")
df_scuole = pd.read_csv(r"C:\Users\pasqu\Desktop\Data Analyst\Progetto scuole\CODE\csv\Anagrafica Scuola 2025-26.csv")

# Verifica match
codici_alunni = set(df_alunni['CODICESCUOLA'].unique())
codici_scuole = set(df_scuole['CODICESCUOLA'].unique())

# DOMANDA CHIAVE: Tutte le scuole in Alunni esistono in Anagrafica?
mancanti = codici_alunni - codici_scuole

print(f"Scuole in Alunni: {len(codici_alunni):,}")
print(f"Scuole in Anagrafica: {len(codici_scuole):,}")
print(f"✓ Scuole presenti in entrambi: {len(codici_alunni & codici_scuole):,}")
print(f"⚠️ Scuole in Alunni MA NON in Anagrafica: {len(mancanti):,}")

if len(mancanti) > 0:
    print("\n⚠️ PROBLEMA! Ci sono studenti senza info scuola")
    print("Esempi codici mancanti:", list(mancanti)[:10])
else:
    print("\n✅ PERFETTO! Tutte le scuole matchano")

Scuole in Alunni: 28,223
Scuole in Anagrafica: 50,349
✓ Scuole presenti in entrambi: 25,578
⚠️ Scuole in Alunni MA NON in Anagrafica: 2,645

⚠️ PROBLEMA! Ci sono studenti senza info scuola
Esempi codici mancanti: ['CBMM830047', 'FGEE85401E', 'BRMM825017', 'VVEE81801X', 'BAEE19801T', 'BARH058504', 'SPEE801038', 'TAMM80401R', 'SAMM8AJ02X', 'SAEE80703A']

In [87]:
# Estrai info dalle scuole mancanti
scuole_mancanti_info = df_alunni[df_alunni['CODICESCUOLA'].isin(mancanti)][['CODICESCUOLA']].drop_duplicates()

# Crea dataframe dummy
dummy_scuole = pd.DataFrame({
    'CODICESCUOLA': list(mancanti),
    'DENOMINAZIONESCUOLA': 'Scuola non in anagrafica 2025/26',
    'PROVINCIA': 'NON DISPONIBILE',
    'REGIONE': 'NON DISPONIBILE',
    'AREAGEOGRAFICA': 'NON DISPONIBILE',
    'DESCRIZIONETIPOLOGIAGRADOISTRUZIONESCUOLA': 'NON DISPONIBILE',
    # ... altri campi con valori default
})

# Aggiungi alle scuole esistenti
df_scuole_completo = pd.concat([df_scuole, dummy_scuole], ignore_index=True)

In [88]:
# Studenti nelle scuole MANCANTI
studenti_persi = df_alunni[df_alunni['CODICESCUOLA'].isin(mancanti)]['ALUNNI'].sum()

# Studenti TOTALI
studenti_totali = df_alunni['ALUNNI'].sum()

# Studenti che MANTENIAMO
studenti_ok = df_alunni[~df_alunni['CODICESCUOLA'].isin(mancanti)]['ALUNNI'].sum()

# Percentuali
perc_persi = (studenti_persi / studenti_totali) * 100
perc_ok = (studenti_ok / studenti_totali) * 100

# Stampa risultati
print("="*60)
print("ANALISI IMPATTO SCUOLE MANCANTI")
print("="*60)
print(f"📊 Studenti TOTALI: {studenti_totali:,}")
print(f"✅ Studenti in scuole con anagrafica: {studenti_ok:,} ({perc_ok:.2f}%)")
print(f"⚠️ Studenti in scuole SENZA anagrafica: {studenti_persi:,} ({perc_persi:.2f}%)")
print("="*60)

if perc_persi > 5:
    print("⚠️ ATTENZIONE: Perdiamo più del 5% degli studenti!")
    print("→ Consiglio: Creare righe dummy")
elif perc_persi > 1:
    print("⚠️ Perdiamo tra 1-5% degli studenti")
    print("→ Consiglio: Creare righe dummy")
else:
    print("✅ Perdiamo meno dell'1% degli studenti")
    print("→ Opzionale: Possiamo escluderli o creare dummy")

============================================================
ANALISI IMPATTO SCUOLE MANCANTI
============================================================
📊 Studenti TOTALI: 6,262,143
✅ Studenti in scuole con anagrafica: 5,799,596 (92.61%)
⚠️ Studenti in scuole SENZA anagrafica: 462,547 (7.39%)
============================================================
⚠️ ATTENZIONE: Perdiamo più del 5% degli studenti!
→ Consiglio: Creare righe dummy

In [89]:
# Ricarica/ricontrolla con il nuovo df_scuole_completo
codici_scuole_completo = set(df_scuole_completo['CODICESCUOLA'].unique())
codici_alunni = set(df_alunni['CODICESCUOLA'].unique())

# Adesso dovrebbe essere match perfetto
mancanti_dopo = codici_alunni - codici_scuole_completo

print("="*60)
print("VERIFICA POST-DUMMY")
print("="*60)
print(f"Scuole in Alunni: {len(codici_alunni):,}")
print(f"Scuole in Anagrafica completa: {len(codici_scuole_completo):,}")
print(f"Scuole mancanti: {len(mancanti_dopo)}")
print("="*60)

if len(mancanti_dopo) == 0:
    print("✅✅✅ PERFETTO! Match al 100%!")
else:
    print(f"⚠️ Ancora {len(mancanti_dopo)} scuole mancanti")

============================================================
VERIFICA POST-DUMMY
============================================================
Scuole in Alunni: 28,223
Scuole in Anagrafica completa: 52,994
Scuole mancanti: 0
============================================================
✅✅✅ PERFETTO! Match al 100%!

In [90]:
# Aggiungi colonna flag
df_scuole_completo['SCUOLA_ATTIVA_2025'] = df_scuole_completo['CODICESCUOLA'].apply(
    lambda x: 'NO' if x in mancanti else 'SI'
)

In [91]:
# Salva Anagrafica completa (con dummy)
df_scuole_completo.to_csv('anagrafica_scuole_completa.csv', index=False)

# Salva Alunni (già pulito)
df_alunni.to_csv('alunni_cleaned.csv', index=False)

# Hai già personale_cleaned.csv